#a-1
{
    padding-right: 2px;
}
#a-1:hover
{
    color: white;
    text-decoration: none;
}
.red
{
    background-color: black;
}
.brand-name-1
{
  color: white;
  font-weight: bold;
  padding: 2px;
}
.card
{
    height: 100%;
    margin: 2px;
    border: none;
}
#nav-2
{
    background-color: white;
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
}
#search
{
    width: 100%;
}
.form-inline
{
    width: 80%;
}
h5 span{
    font-size: 15px;
    right: 0;
}
.container-liquid-1
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cornsilk;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}
.container-liquid-1 #btn-1{
    top: 50%;
    left: 50%;
    margin-right: -50%;
    position: absolute;
}
.container-liquid-1 #btn-2{
    top: 50%;
    left: 50%;
    margin-right: -50%;
    position: absolute;
}
.searchContainer {
    display: inline-flex;
    flex: 0.8 0.8 300px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  .searchBox {
    border: 0;
    padding: 0.5em;
    margin: 0;
    
  }

  .card-header
  {
      margin-bottom: 5px;
      padding: 5px;
      background-color: rgb(158, 154, 154);
  }